body
{
	font-family: "Helvetica", "Arial",  "Verdana";
	color:white;
	font-size: 62.5%;
	margin:0;
	padding:0;
}
#FriendList{
	color:black;	
}
canvas
{
	margin: 0 auto;
}

#leaderboards, #leaderboard
{
	color:black;
	opacity: 0.977777777777777;
	position:absolute;
	border-radius: 5px;
	background-color: #FFFFFF;
	z-index:1;
}

#leaderboardTable table { border-collapse: collapse; text-align: right; }
#leaderboardsTable table { border-collapse: collapse; text-align: right; }

#leaderboardTable th {padding: 10px; background-color: #0000ee; color: #fcfcfc; font-size: 1.1em; border-left: 1px #fcfcfc solid;}
#leaderboardsTable th {padding: 10px; background-color: #0000ee; color: #fcfcfc; font-size: 1.1em; border-left: 1px #fcfcfc solid;}

#leaderboardTable tr { border-bottom: 2px #00008b solid; }
#leaderboardsTable tr { border-bottom: 2px #00008b solid; }
#leaderboardTable td {  padding: 10px; }
#leaderboardsTable td { vertical-align: top; padding: 10px; }

#TopHealth{
	color: red;
	font-size: 200%;
	vertical-align: bottom;
	text-align: center;
	background-color : rgba(0, 0, 255, 0.3);
	border:1px #0000FF;
	border-style: solid ;
	border-radius:2px;
}
#TopMove{
	color: red;
	font-size: 200%;
	vertical-align: bottom;
	text-align: center;
	background-color : rgba(0, 0, 255, 0.3);
	border:1px #0000FF;
	border-style: solid ;
	border-radius:2px;
}
#BottomHealth{
	color: red;
	font-size: 200%;
	vertical-align: bottom;
	text-align: center;
	width: 100px;
	background-color : rgba(0, 0, 255, 0.3);
	border:1px #0000FF;
	border-style: solid ;
	border-radius:2px;
}
#BottomMove{
	color: red;
	font-size: 200%;
	vertical-align: bottom;
	text-align: center;
	width: 100px;
	background-color : rgba(0, 0, 255, 0.3);
	border:1px #0000FF;
	border-style: solid ;
	border-radius:2px;
}

.medIcon
{
	width: 75px;
	height: 75px;
}

.smallIcon
{
	width: 65px;
	height: 65px;
	padding: 5px;
}

.unlockWidget
{
	position: absolute;
	top: 250px;
	background: #B9B0FA;
	width: 30em;
	border: 5px solid darkblue;
	border-radius: 10px;
}

.ui-widget-header{
    text-align: center;
}



#AnimatedBackground{
	position:absolute;
	z-index:-1;
}
#board
{
	position:relative;
}

.TrapCard,.UnitCard{ 
	width: 79px; 
	height: 120px;
	text-align: center;
	padding: 0.5em; 
	padding-top: 0;
	float: left; 
	border-radius: 7px;
	background-color:#BBB ;
	margin: 10px 10px 10px 0; 
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #FFF	;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px #0000FF;	
	border-style: solid ;
}

.TrapCard:hover, .UnitCard:hover,.UnitCard:active ,.TrapCard:active  {
	background-color : rgba(0, 0, 150, 0.8);
	cursor: pointer;
}

.SlotHighLight{
	color: #FFFFFF;
	width: 80px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
	background-color : rgba( 100,149,237, 0.3);
	border:1px solid #0000FF;	
}


#Slot1, #Slot2, #Slot3,  #Slot4, #Slot5, #Slot6, 
#EnemySlot1, #EnemySlot2, #EnemySlot3,  #EnemySlot4, #EnemySlot5, #EnemySlot6 
{ 
	color: #FFFFFF;
	width: 80px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
	background-color : rgba(0, 0, 255, 0.3);
	border:1px #0000FF;
	border-style: solid ;
}

.flat {
	background-color: rgba(0, 0, 150, 0.5);
	padding: 5px 5px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	display: block;
	border: 1px solid transparent;
	color: #ffffff;
	font-weight: 300;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.flat:active {
	margin-bottom: -1px;
}

.flat, .flat:hover, .flat:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}

.flat:hover {
	background-color: rgba(0, 0, 255, 0.7);
}
